*
!.Xdefaults
!.Xmodmap
!.Xresources
!.bashrc
!.config/fish/config.fish
!.config/omf/bundle
!.config/omf/channel
!.config/omf/theme
!.config/vlc/vlcrc
!.gitignore
!.inputrc
!.password-store/backup.gpg
!.spacemacs
!.vimrc
!.xbindkeysrc
!.xmobarrc
!.xmonad/xmonad.hs
!Pictures/cube.png
!Pictures/jupyter_near_north_pole.jpg
!gallant12x22.ttf
secrets
